{% extends "base2.html" %}
{% block content %}
  <p>This is Dereste All Songs</p>
  <div class="container">
    <!-- All Lists from view class
    {% for item in object_list %}
      <div class="alert alert-success" role="alert">
        <p>{{item.name}}</p>
        <p>{{item.level}}</p>
        <p>{{item.type}}</p>
        <p>{{item.notes}}</p>
        <p>{{item.grade}}</p>
      </div>
    {% endfor %}
    -->
      <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" />
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">曲名</th>
            <th scope="col">難易度</th>
            <th scope="col">タイプ</th>
            <th scope="col">レベル</th>
            <th scope="col">ノーツ数</th>
            <th scope="col">Id</th>
            <th scope="col">変更/削除</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in filter.qs %}
          <tr>
            <th scope="row" width="200">{{ obj.name }}</th>
            <td>{{ obj.grade }}</td>
            <td>{{ obj.type}}</td>
            <td>{{ obj.level}}</td>
            <td>{{ obj.notes }}</td>
            <td>{{ obj.pk }}</td>
            <td>
                <a href="#" class="btn btn-outline-success">変更</a>
                <a href="#" class="btn btn-outline-danger">削除</a>
            </td>
          </tr>
          {% include "pagination.html" %}
        {% endfor %}
        </tbody>
      </table>

    
  </div>
{% endblock content %}