{% extends "base2.html" %}

{% block content %}
  <p>This is Dereste Create</p>
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">新曲追加</h5>
      <p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p>上記内容でよろしければ登録ボタンを押してください</p>
          <button type="submit" class="btn btn-outline-secondary">
            登録
          </button> 
        </form>

        </p>
    </div>
  </div>
{% endblock content %}