{% extends "base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <p>This is Dereste Create</p>
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">成績入力</h5>
      <p>
        <form method="post">
          {% csrf_token %}
          <p><h2>{{song_name}}</h2></p>
          <p>曲ID:<input type="text" name="song_id" value="{{song_id}}"></p>
          {{ form | crispy }}
          <p>上記内容でよろしければ登録ボタンを押してください</p>
          <button type="submit" class="btn btn-outline-secondary">
            登録
          </button> 
        </form>
        </p>
    </div>
  </div>
{% endblock content %}